.hello {
  @apply flex flex-col gap-24 max-w-3xl;
}

.hello .title {
  @apply text-4xl md:text-6xl font-poppins font-medium;
}

.hello .title .highlight {
  @apply text-pink-300;
}

.hello .title .highlight .dot {
  @apply text-white;
}

/* Transitions */

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}
